THARSIS_OAUTH_PROVIDERS_0_ISSUER_URL=https://identityprovider.com
THARSIS_OAUTH_PROVIDERS_0_CLIENT_ID=001
THARSIS_OAUTH_PROVIDERS_0_USERNAME_CLAIM=sub
THARSIS_OAUTH_PROVIDERS_0_SCOPE=openid profile email
THARSIS_OAUTH_PROVIDERS_0_LOGOUT_URL=https://identityprovider.com

THARSIS_TFE_LOGIN_ENABLED=true
THARSIS_TFE_LOGIN_CLIENT_ID=001
THARSIS_TFE_LOGIN_SCOPES=openid

THARSIS_DB_USERNAME=postgres
THARSIS_DB_PASSWORD=postgres
THARSIS_DB_NAME=tharsis
THARSIS_DB_HOST=localhost
THARSIS_DB_PORT=5432
THARSIS_DB_SSL_MODE=disable

THARSIS_OBJECT_STORE_PLUGIN_TYPE=aws_s3
THARSIS_OBJECT_STORE_PLUGIN_DATA_BUCKET=tharsis
THARSIS_OBJECT_STORE_PLUGIN_DATA_REGION=us-east-1

THARSIS_JWS_PROVIDER_PLUGIN_TYPE=memory
THARSIS_JWS_PROVIDER_PLUGIN_DATA_SECRET=mysecret

THARSIS_JOB_DISPATCHER_PLUGIN_TYPE=docker
THARSIS_JOB_DISPATCHER_PLUGIN_DATA_API_URL=http://docker.for.mac.localhost:8000

THARSIS_INTERNAL_RUNNERS_0_NAME=default-shared-runner
THARSIS_INTERNAL_RUNNERS_0_JOB_DISPATCHER_DATA_HOST=unix:///var/run/docker.sock
THARSIS_INTERNAL_RUNNERS_0_JOB_DISPATCHER_DATA_IMAGE=tharsis/job
THARSIS_INTERNAL_RUNNERS_0_JOB_DISPATCHER_DATA_BIND_PATH=/Users/username/.aws:/root/.aws
THARSIS_INTERNAL_RUNNERS_0_JOB_DISPATCHER_DATA_LOCAL_IMAGE=true
THARSIS_INTERNAL_RUNNERS_0_JOB_DISPATCHER_DATA_MEMORY_LIMIT=512Mi

THARSIS_API_URL=http://localhost:8000
